@charset "EUC-KR";
/*css문법 사용한다. */

		/* css영역이다 - css문법을 적용해야한다. 
			
				css문법
				selector{property:value;.......}
		*/
		/* 1. 태그 이름으로 찾기 */
		h1{color: red; font-family: 궁서체}
		
		/* 여러 개의 태그에 동일 속성을 적용할깨는 콤마 구분, 
			하나의 속성이 값이 여러 개 일때는 공백으로 구분한다. */
		h1,h3{border: double 5px skyblue;}
		
		/* 2. class 이름으로 찾기 = .
				: 한 element에 여러 개 적용 가능 (공백 구분)
				*/
		.a{background-color: pink}
		.b{text-decoration: underline; }
		
		/* 3. id 이름으로 찾기 = # 
				: 한 element에 단 한개의 id만 설정 가능
				*/
		#a{font-style: italic; font-size: 40px}
		#b{text-align: center; }
		
		h3.b{color: green}
		
		/* 4. 특정 element를 기준으로 하위 요소 찾기 */
		
		/* div p{background-color: orange} */
		
		div > p{background-color: orange} 
		
		/* 5. 속성으로 찾기 [attribute=value]*/
		[type=text]{background-color: blue}
		
		[name$=d]{color:white;} /* $는 끝나는 단어*/
		[name^=na]{color: pink} /* ^는 시작하는 단어*/
		
		table{width: 600px; height: 300px; border: double 3px red; border-collapse: collapse;}
		th,td{border: 1px solid gray;}
		td{text-align: center;}
		
		table tr th:first-child {width: 70px}
		table tr th:last-child {width: 400px}
		
		table tr:nth-child(2n) {background-color: gray} 
		table tr:nth-child(1) {background-color: skyblue; color:white}
		
		/*예시
		div.a{ } <div class="a"
		div .a{ } <div><태그 class="a"> </div>
		div#b{ }
		div #b{ }
		h3, div.a , h3>a{ } */
		
